footer {
  display: flex;
  margin-bottom: 0;
  width: 100%;
  height: 10svh;
  box-shadow: 0px 30px 30px -30px rgba(54, 54, 54, 0.75);
  background-color: #a06250;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

h3 {
  color: #ebe0dd;
  margin-top: 20px;
}
