footer {
  display: flex;
  margin-bottom: 0;
  width: 100%;
  height: 10svh;
  box-shadow: var(--p10-shadow);
  background-color: var(--p10-color-background-secondary);
  border-radius: var(--p10-border-radius-xl);
  align-items: center;
  justify-content: center;
  margin-top: var(--p10-margin-l);
}

.titulo-footer {
  color: var(--p10-color-text);
  margin-top: var(--p10-margin-s);
  width: 50%;
  background-color: var(--p10-color-background-secondary);
}
