.login-register-container > form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--p10-gap-s);
  height: 70svh;
}

.login-register-container input {
  width: 500px;
  height: 30px;
  padding: var(--p10-padding-xs) var(--p10-padding-l);
  border-radius: var(--p10-border-radius-m);
  border: 1px solid var(--p10-botton);
  background-color: var(--p10-secondary);
}

button {
  width: 560px;
  height: 45px;
  border-radius: var(--p10-border-radius-m);
  border: none;
  background-color: var(--p10-botton);
  color: var(--p10-letterbotton);
  font-size: var(--p10-fontsize-xs);
}

.error {
  margin-top: var(--p10-margin-m);
  color: var(--p10-letterError);
  font-size: var(--p10-fontsize-l);
  font-weight: bold;
  text-shadow: 0px 5px 5px rgba(233, 78, 39, 0.623);
}

.registerLink {
  font-size: var(--p10-fontsize-s);
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
  margin-top: -120px;
}
