header {
  width: 95%;
  position: sticky;
  top: 10px;
  height: 12svh;
  box-shadow: var(--p10-shadow);
  margin: auto;
}

nav {
  display: flex;
  justify-content: center;
  gap: var(--p10-gap-m);
  align-items: center;
  height: 100%;
  background-color: var(--p10-primary);
  border-radius: var(--p10-border-radius-xl);
}

nav a {
  color: var(--p10-color-text);
  text-decoration: none;
  font-size: var(--p10-fontsize-m);
}

span {
  font-size: var(--p10-fontsize-l);
  color: var(--p10-color-text);
}

.left-container {
  display: flex;
}

.right-container {
  display: flex;
}

.center-container {
  display: flex;
  align-items: center;
  height: 100%;
  width: 60%;
  flex-direction: row;
}

.eventos-admin-menu {
  display: flex;
  gap: var(--p10-gap-xs);
  margin-left: var(--p10-margin-m);
}

.eventos-admin-menu a {
  color: var(--p10-terciary);
  text-decoration: none;
  font-weight: bold;
}

.eventos-admin-menu a:hover {
  text-decoration: underline;
}

form {
  display: flex;
  margin-top: var(--p10-margin-l);
  gap: var(--p10-gap-l);
  align-items: center;
  flex-direction: column;
}

header nav div button {
  background-color: var(--p10-primary);
  border: none;
  color: var(--p10-color-text);
  font-size: var(--p10-fontsize-m);
  cursor: pointer;
  width: 100%;
}
