* {
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: var(--p10-color-background);
  overflow-x: hidden;
}

:root {
  --p10-color-background: rgba(231, 147, 98, 0.247);
  --p10-color-background-secondary: #a06250;
  --p10-primary: #e97d5d;
  --p10-secondary: #ebe0dd;
  --p10-terciary: #ff6600;
  --p10-botton: #722304;
  --p10-letterError: rgb(170, 58, 43);
  --p10-letterbotton: #ffffff;
  --p10-color-text: #ffffff;
  --p10-color-text-secondary: #331500;
  --p10-shadow: 0px 30px 30px -30px rgba(54, 54, 54, 0.75);

  /*BORDER RADIUS*/
  --p10-border-radius-s: 5px;
  --p10-border-radius-m: 10px;
  --p10-border-radius-l: 15px;
  --p10-border-radius-xl: 20px;

  /* FONTSIZE */
  --p10-fontsize-xs: 15px;
  --p10-fontsize-s: 25px;
  --p10-fontsize-m: 30px;
  --p10-fontsize-l: 40px;
  --p10-fontsize-xl: 50px;
  --p10-fontsize-xxl: 60px;
  --p10-fontsize-xxxl: 70px;

  /*SPACINGS*/
  --p10-margin-sx: 7px;
  --p10-margin-s: 10px;
  --p10-margin-m: 20px;
  --p10-margin-l: 30px;
  --p10-margin-xl: 40px;
  --p10-margin-xxl: 100px;

  --p10-padding-xs: 5px;
  --p10-padding-s: 10px;
  --p10-padding-m: 20px;
  --p10-padding-l: 30px;
  --p10-padding-xl: 40px;

  --p10-gap-xs: 10px;
  --p10-gap-s: 20px;
  --p10-gap-m: 30px;
  --p10-gap-l: 40px;
  --p10-gap-xl: 50px;
}
