.eventos-asistentes-contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--p10-gap-s);
  margin: var(--p10-margin-m);
  align-items: center;
}

.titulo-eventos-asistentes {
  font-size: var(--p10-fontsize-m);
  color: var(--p10-secondary);
}

main h4 {
  margin: var(--p10-margin-m);
  font-size: var(--p10-fontsize-m);
}

.eventos-asistentes-contenedor .evento p {
  margin: var(--p10-margin-m);
}
