.eventos-asistentes-contenedor {
  display: flex;
  flex-direction: column;
  gap: var(--p10-gap-s);
  margin: var(--p10-margin-m);
  align-items: center;
}

main h4 {
  margin: var(--p10-margin-m);
  font-size: var(--p10-fontsize-m);
}
