.evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--p10-margin-m);
  justify-content: center;
}
.evento-titulo,
.evento-descripcion {
  width: 80%;
}
.evento-descripcion {
  display: flex;
  align-items: center;
}
.evento-descripcion p {
  text-align: center;
  font-size: var(--p10-fontsize-m);
  color: var(--10-color-text-secondary);
  margin: var(--p10-margin-xl);
}

h2 {
  text-align: center;
  align-content: center;
  height: 60px;
  font-size: var(--p10-fontsize-m);
  color: var(--p10-secondary);
  background-color: var(--p10-primary);
  border-radius: var(--p10-border-radius-xl);
  box-shadow: var(--p10-shadow);
}

img {
  width: 800px;
  height: 500px;
  border-radius: var(--p10-border-radius-m);
  margin: var(--p10-margin-m);
  object-fit: cover;
}

.evento-info p {
  width: 100%;
  text-align: center;
  margin: var(--p10-margin-m);
  margin-left: var(--p10-margin-xl);
  color: var(--p10-letterError);
  font-size: var(--p10-fontsize-s);
}

button {
  width: 100%;
  height: 60px;
  border-radius: var(--p10-border-radius-m);
  border: none;
  background-color: var(--p10-botton);
  color: var(--p10-letterbotton);
  font-size: var(--p10-fontsize-m);
  cursor: pointer;
  margin: var(--p10-margin-m);
}
