.evento {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--p10-margin-sx);
}

h2 {
  margin: 50px 0px 10px 0px;
  text-align: center;
  align-content: center;
  width: 50%;
  height: 100px;
  font-size: var(--p10-fontsize-m);
  color: var(--p10-secondary);
  background-color: var(--p10-primary);
  border-radius: var(--p10-border-radius-xl);
  box-shadow: var(--p10-shadow);
}

img {
  width: 50%;
  height: 50%;
  border-radius: var(--p10-border-radius-m);
  margin: var(--p10-margin-s);
  object-fit: cover;
}

.info p {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-shadow: #080707 1px 1px 1px;
  color: var(--p10-letterError);
}

.descripcion {
  width: 50%;
  text-align: center;
  margin: var(--p10-margin-m);
  font-weight: bold;
}
.boton-asistire.activo {
  background-color: #4caf50; /* Verde */
  color: white;
}
